@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}
button{
    cursor: pointer;
}
.container {
    width: 1280px;
    padding: 0px auto;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header--list {
    display: flex;
    gap: 35px;
    list-style: none;
    
}
.header--list li a{
    color: #000;
    position: relative;
}
.header--list li {
    font-size: 12px;
    line-height: 15px;
}
.header--list li a:hover{
    color: #4a5c75;
}
.header--list li:hover{
    font-size: 13px;
    
}

.intro {
    position: relative;
    height: 450px;
    border-radius: 10px;
    padding-left: 85px;
    padding-top: 117px;
    background-image: url("./imges/plan1.png");
}

.intro--span {
    height: 145px;
    top: calc(50% - 145px/2 - 55px);

    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.intro--p {
    padding-top: 22px;
    height: 120px;
    width: 400px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.works {
    padding: 115px 85px;
    margin-top: 170px;
    background-color:  #2C343E;
    border-radius: 10px;
    padding-bottom: 0;
}

.works--divs {

    display: flex;
    justify-content: space-between;
    width: 1045px;
}

.works--div {
    width: 300px;
    height: 430px;
    text-align:center;
}

.works--hr {
    width: 750px;
    height: 3px;
    background-color: #FDD6BA;
}

.works--div--img {
    position: relative;
    top: -45px;
    left: -110px;
}

.works--div--b {
    position: relative;
    top: 20px;
    left: -130px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.works--div--p{
    position: relative;
    top: 50px;
    text-align: left;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
}
.works--div--span {
    position: relative;
    top: 20px;
    text-align: left;
    width: 210px;
    display: block;
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
/* or 112% */


color: #FEFCF7;
}

.works--span {
    position: relative;
    top: -100px;
    left: -570px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.main-aside{
    position: relative;
    margin-top: 159px;
}
.aside{
    width: 240px;
    margin-right: 10%;
    margin-left: 10%;
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 2;
}
.aside__div{
    display: flex;
    gap: 30px;
    padding: 20px 0px;
}
.aside__div__span{
    
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

opacity: 0.8;
color: #333D4B;
}
.aside__div:nth-child(1) .aside__div__span:nth-child(1){
    color: #0E8784;
}
.aside__div:hover .aside__div__span{
    opacity: 1;
}


.main-container{
    width: 730px;
    position: relative;
    top: -350px;
    left: 500px;
}
.how--text{
    padding-right: 45px;
display: flex;
justify-content: space-between;
}
.how--text__span{
    
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */


color: #83888F;
}
.how__divs{
    margin-top: 56px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
}
.how__div{
    width: 228px;
    height: 250px;
    padding: 32px 28px 84px 28px;
background: #F4F1EB;
border-radius: 8px;
display: flex; flex-wrap: wrap;
gap: 24px;
}
.how__span{
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #333D4B;

}
.how__p{
    
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #333D4B;
}
.focus__div{
    
background: #0E8784;
}
.focus__span{
color: aliceblue;
}
.focus__p{
    color: aliceblue;
    opacity: 0.8;
}
.banner{
    width: 730px;
    height: 200px;
    background: #2C343E;
    padding: 31px 64px;
    border-radius: 10px;
}
.banner__span{
    
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
margin-bottom: 8px;
}
.banner__p{
    
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 40px;
color: #FFFFFF;
width: 600px;

}
p span{
    color: #0E8784;
       
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 40px;
}

.intro--btn {
    position: relative;
    left: 500px;
    margin-top: 40px;
    border: none;
    width: 220px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background: #0E8784;
    color: #FEFCF7;
    border-radius: 6px;
}

.footer--container{
    height: 120px;
    background-color: #2C343E;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer--img{  
    margin-left: 85px;
width: 200px;
height: 24px;
}
.footer--imgs{
    margin-right: 85px;
    display: flex;
    gap: 25px;
}
.footer--list{
    display: flex;
    gap: 35px;
    list-style: none;
}
.footer--list li a{
 color: #83888F;
}
.footer--list li a:hover{
    color: #fff;
}